.brend > div{
    @include grid(repeat(6, 1fr), 30px);
    align-items: center;
    padding: 20px 0;
}

@media (max-width: 1000px){
    .brend > div{
        @include grid(repeat(4, 1fr), 30px);
        align-items: center;
    }
}
@media (max-width: 700px){
    .brend > div{
        @include grid(repeat(3, 1fr), 30px);
        align-items: center;
    }
}
@media (max-width: 400px){
    .brend > div{
        @include grid(repeat(2, 1fr), 30px);
        align-items: center;
    }
}