
$first-color_black: #353434;
$second-color: #FF5C00;
$third-color_gray: #8F8F8F;
$forth-color_blue: #544CAC;

$open-sans: "Open Sans", sans-serif;
$promt: "Prompt", sans-serif;
$oswald: "Oswald", sans-serif;
