.work > div{
    @include grid(1fr 1fr, 0px);
}
.work_text{
    p{
        font-size: 12px;
        color: $second-color;
        font-family: $oswald;
    }
    h1{
        font-size: 40px;
        color: $first-color_black;
        font-family: $oswald;
    }

    &_items{
        @include grid(auto, 20px);
        margin-right: 30px;
    }

    &_item{
        @include flex(center, space-between, 0px);
        background-color: #F5F7FF;
        padding: 14px;
        border-radius: 8px;

        &_top{
            @include flex(center, space-between, 0px);
        }

        p{
            width: 30px;
            height: 30px;
            border-radius: 6px;
            font-size: 16px;
            font-family: $open-sans;
            @include flex(center, center, 0);
            font-weight: 700;
        }
        h2{
            font-size: 16px;
            color: $first-color_black;
            font-family: $open-sans
        }

        &_{

            @include flex(center, flex-start, 10px);
            
    
            &number1{
                background-color: #F3E0FF;
                color: #9444C9;
            }
            &number3{
                background-color: #FFDECC;
                color: #FF5C00;
            }
        }
        
        &_number2{
            background-color: #E7E9FE;
            color: #626FFF;
        }
    }
    &_item:nth-of-type(2){
        @include grid(auto, 20px);

        .work_text_item_top{
            @include flex(center, space-between, 0px);
        }
        h3{
            font-size: 14px;
            color: $third-color_gray;
            padding-left: 40px;
        }
    }
}
.work_img{
    width: 100%;
    position: relative;

    img{
        width: 100%;
    }
    i{
        display: none;
    }
}
@media (max-width: 850px){
    .work > div{
        @include grid(1fr,0);
    }
}
@media (max-width: 400px){
    .work_text{
        h1{
            font-size: 24px;
        }
    }
}