@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #F5F7FF;
  padding-bottom: 20px;
}

.navbar_top_a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.navbar_top_a a {
  font-size: 14px;
  color: #353434;
  font-family: "Open Sans", sans-serif;
}
.navbar_top_a a:hover {
  color: #544CAC;
}

.navbar_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  padding: 23px 0;
}
.navbar_top img {
  width: 90%;
}
.navbar_top_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 307px;
  height: 35px;
  background-color: #fff;
  border-radius: 50px;
  padding: 0 7px 0 19px;
}
.navbar_top_search input {
  width: 70%;
  height: 20px;
  font-size: 14px;
  color: #8F8F8F;
  outline: 0;
  outline-offset: 0;
  border: none;
}
.navbar_top_search button {
  width: 28px;
  height: 28px;
  background-color: #F5F7FF;
  border-radius: 100%;
  padding: 8px 6px 8px 8px;
  border: none;
  cursor: pointer;
}
.navbar_top_search button i {
  color: #FF5C00;
}
.navbar_top_login button {
  border: none;
  background-color: transparent;
  color: #353434;
  cursor: pointer;
  font-size: 16px;
}
.navbar_top_login button span {
  color: #544CAC;
}

.menu {
  font-size: 25px;
  color: #353434;
  display: none;
}

#check {
  display: none;
}

.closed {
  display: none;
}

.navbar_showcase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.navbar_showcase img {
  width: 50%;
}
.navbar_showcase_text {
  width: 50%;
}
.navbar_showcase_text h1 {
  font-size: 45px;
  color: #353434;
  font-family: "Prompt", sans-serif;
}
.navbar_showcase_text h1 span {
  color: #FF5C00;
}
.navbar_showcase_text p {
  font-size: 14px;
  color: #8F8F8F;
  padding: 18px 0 30px 0;
  line-height: 120%;
  font-family: "Open Sans", sans-serif;
}
.navbar_showcase_text_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.navbar_showcase_text_btn button {
  width: 150px;
  height: 44px;
  background-color: #544CAC;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  border: none;
  font-family: "Open Sans", sans-serif;
}
.navbar_showcase_text_btn_ {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.navbar_showcase_text_btn_ i {
  background-color: #fff;
  color: #FF5C00;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

@media (max-width: 1150px) {
  .navbar_showcase {
    gap: 50px;
  }
  .navbar_showcase_text h1 {
    font-size: 28px;
  }
  .navbar_showcase_text h1 br {
    display: none;
  }
  .navbar_showcase_text p {
    font-size: 12px;
  }
  .navbar_showcase_text p br {
    display: none;
  }
  .navbar_showcase_text_btn button {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }
  .navbar_showcase_text_btn_ {
    font-size: 14px;
  }
  .navbar_showcase_text_btn_ i {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  .navbar_top_a {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #353434;
    width: 50%;
    height: 100vh;
    transition: right 0.4s;
  }
  .navbar_top_a a {
    color: #fff;
  }
  .navbar_top_a a:hover {
    color: #fff;
  }
  .menu {
    display: block;
  }
  #check:checked ~ .navbar_top_a {
    right: 0;
  }
  .closed {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
  }
}
@media (max-width: 800px) {
  .navbar_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .navbar_top img {
    width: 100px;
  }
  .navbar_top_search {
    width: 200px;
    order: 3;
  }
  .navbar_top_login {
    order: 4;
    text-align: end;
  }
  .menu {
    order: 2;
    text-align: end;
  }
  .navbar_showcase {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .navbar_showcase img {
    width: 100%;
  }
  .navbar_showcase .navbar_showcase_text {
    display: grid;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .navbar_showcase .navbar_showcase_text h1 {
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
  }
  .navbar_showcase .navbar_showcase_text p {
    text-align: center;
  }
  .navbar_showcase .navbar_showcase_text_btn {
    text-align: center;
  }
  .navbar_showcase .navbar_showcase_text_btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
  .navbar_showcase .navbar_showcase_text_btn_ {
    font-size: 8px;
  }
  .navbar_showcase .navbar_showcase_text_btn_ i {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .navbar_showcase_text {
    width: 100%;
  }
  .navbar_showcase_text p {
    display: none;
  }
  .navbar_top_a {
    width: 70%;
  }
}
@media (max-width: 450px) {
  .navbar_top_search {
    grid-column: 1/3;
    width: 100%;
  }
  .navbar_top_login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    grid-column: 1/3;
    width: 100%;
  }
}
.brend > div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  align-items: center;
  padding: 20px 0;
}

@media (max-width: 1000px) {
  .brend > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .brend > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .brend > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
  }
}
.plan_title {
  text-align: center;
  padding: 30px 0;
}
.plan_title h1 {
  font-size: 40px;
  color: #353434;
  font-family: "Oswald", sans-serif;
}
.plan_title p {
  font-size: 16px;
  color: #8F8F8F;
  font-size: "Open Sans", sans-serif;
}

.plan_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.plan_item {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  justify-items: center;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.15), -3px -3px 3px rgba(128, 128, 128, 0.15);
  padding: 65px;
  border-radius: 20px;
}
.plan_item h2 {
  font-size: 20px;
  color: #544CAC;
  font-family: "Open Sans", sans-serif;
}
.plan_item h1 {
  font-size: 45px;
  color: #353434;
  font-family: "Oswald", sans-serif;
}
.plan_item h3 {
  font-size: 16px;
  color: #353434;
  font-family: "Open Sans", sans-serif;
}
.plan_item ul {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding-top: 30px;
}
.plan_item ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 14px;
  color: #8F8F8F;
}
.plan_item ul li i {
  background-color: #FF5C00;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  color: #fff;
  font-size: 10px;
  padding-top: 3px;
}
.plan_item button {
  width: 172px;
  height: 43px;
  border: none;
  border-radius: 30px;
  background-color: #544CAC;
  color: #fff;
}

@media (max-width: 1310px) {
  .plan_item {
    padding: 40px 20px;
  }
  .plan_item h2 {
    font-size: 16px;
  }
  .plan_item h1 {
    font-size: 36px;
  }
  .plan_item h3 {
    font-size: 14px;
  }
  .plan_item ul li {
    font-size: 12px;
  }
  .plan_item button {
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
  }
}
@media (max-width: 850px) {
  .plan_title p {
    font-size: 12px;
  }
  .plan_title p br {
    display: none;
  }
  .plan_items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
  }
  .plan_item:nth-of-type(1) {
    grid-column: 1/5;
  }
  .plan_item:nth-of-type(2) {
    grid-column: 5/9;
  }
  .plan_item:nth-of-type(3) {
    grid-column: 3/7;
    grid-template-rows: 1/2;
  }
}
@media (max-width: 555px) {
  .plan_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .plan_item:nth-of-type(1) {
    grid-column: auto;
  }
  .plan_item:nth-of-type(2) {
    grid-column: auto;
  }
  .plan_item:nth-of-type(3) {
    grid-column: auto;
    grid-template-rows: auto;
  }
}
.work > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}

.work_text p {
  font-size: 12px;
  color: #FF5C00;
  font-family: "Oswald", sans-serif;
}
.work_text h1 {
  font-size: 40px;
  color: #353434;
  font-family: "Oswald", sans-serif;
}
.work_text_items {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  margin-right: 30px;
}
.work_text_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-color: #F5F7FF;
  padding: 14px;
  border-radius: 8px;
}
.work_text_item_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
.work_text_item p {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-weight: 700;
}
.work_text_item h2 {
  font-size: 16px;
  color: #353434;
  font-family: "Open Sans", sans-serif;
}
.work_text_item_ {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.work_text_item_number1 {
  background-color: #F3E0FF;
  color: #9444C9;
}
.work_text_item_number3 {
  background-color: #FFDECC;
  color: #FF5C00;
}
.work_text_item_number2 {
  background-color: #E7E9FE;
  color: #626FFF;
}
.work_text_item:nth-of-type(2) {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.work_text_item:nth-of-type(2) .work_text_item_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
.work_text_item:nth-of-type(2) h3 {
  font-size: 14px;
  color: #8F8F8F;
  padding-left: 40px;
}

.work_img {
  width: 100%;
  position: relative;
}
.work_img img {
  width: 100%;
}
.work_img i {
  display: none;
}

@media (max-width: 850px) {
  .work > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
}
@media (max-width: 400px) {
  .work_text h1 {
    font-size: 24px;
  }
}
.us {
  padding: 20px 0;
}

.us_title {
  width: 90%;
  margin: 0 auto;
}
.us_title h1 {
  font-size: 40px;
  color: #353434;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.us_title p {
  font-size: 16px;
  color: #8F8F8F;
  text-align: center;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
}

.us_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.us_item {
  padding: 40px;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.15), -3px -3px 3px rgba(128, 128, 128, 0.15);
}
.us_item i {
  width: 60px;
  height: 60px;
  font-size: 35px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border-radius: 7px;
}
.us_item_img1 {
  background-color: #6156DC;
}
.us_item_img2 {
  background-color: #EF6010;
}
.us_item_img3 {
  background-color: #A73EED;
}
.us_item h2 {
  font-size: 20px;
  color: #353434;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0;
}
.us_item p {
  font-size: 14px;
  color: #8F8F8F;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1100px) {
  .us_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
@media (max-width: 600px) {
  .us_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .us_title h1 {
    font-size: 16px;
  }
  .us_title p {
    font-size: 11px;
  }
}
.notification_title h1 {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: #353434;
  text-align: center;
}
.notification_title p {
  font-size: 16px;
  color: #8F8F8F;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.notification_items {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 30px;
  padding: 30px 0;
}
.notification_items_img {
  width: 100%;
  position: relative;
}
.notification_items_img img:first-of-type {
  width: 100%;
}
.notification_items_img img:nth-of-type(2) {
  position: absolute;
  width: 20%;
  bottom: 10%;
  left: 10%;
}
.notification_items_text h1 {
  font-size: 20px;
  color: #353434;
  font-family: "Open Sans", sans-serif;
}
.notification_items_text h2 {
  font-size: 14px;
  color: #8F8F8F;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0;
}
.notification_items_text_star {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  font-family: "Open Sans", sans-serif;
}
.notification_items_text_star i {
  color: #FFB800;
}
.notification_items_text_star i:last-of-type {
  color: #8F8F8F;
}
.notification_items_text p {
  font-size: 14px;
  color: #353434;
  font-family: "Open Sans", sans-serif;
  padding-top: 30px;
  line-height: 130%;
}

@media (max-width: 800px) {
  .notification_title h1 {
    font-size: 20px;
  }
  .notification_title p {
    font-size: 10px;
  }
  .notification_title p br {
    display: none;
  }
  .notification_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .notification_items_text h1 {
    font-size: 20px;
  }
  .notification_items_text h2 {
    font-size: 14px;
  }
  .notification_items_text p {
    font-size: 11px;
  }
}
.our > div {
  background-color: #CED5F4;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 10% 5%;
}

.our_item h1 {
  font-size: 40px;
  color: #584EC6;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.our_item p {
  font-size: 18px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

@media (max-width: 1100px) {
  .our > div {
    gap: 20px;
  }
  .our_item h1 {
    font-size: 24px;
  }
  .our_item p {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  .our > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
@media (max-width: 400px) {
  .our > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 340px) {
  .our > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.footer {
  background-color: #DBE2FF;
  border-radius: 50px 50px 0 0;
  padding: 10% 0 15px 0;
  margin-top: 50px;
}

.footer_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr;
  gap: 30px;
}

.footer_item h2 {
  font-size: 24px;
  color: #353434;
  font-family: "Oswald", sans-serif;
  padding-bottom: 15px;
}
.footer_item ul {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}
.footer_item ul li a {
  font-size: 16px;
  color: #8F8F8F;
  font-family: "Open Sans", sans-serif;
}
.footer_item ul li a:hover {
  color: #544CAC;
}

.footer_bottom {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 2px solid #625BAE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.footer_bottom_logo {
  width: 62px;
}
.footer_bottom_logo img {
  width: 100%;
}
.footer_bottom_brend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.footer_bottom_brend i {
  width: 29px;
  height: 29px;
  background-color: #fff;
  color: #8F8F8F;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 12px;
  border-radius: 100%;
}
.footer_bottom_brend i:hover {
  background-color: #544CAC;
  color: #fff;
}

.footer_bottom_a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 65px;
}
.footer_bottom_a a {
  font-size: 14px;
  color: #353434;
  font-family: "Open Sans", sans-serif;
}

#check1 {
  display: none;
}

@media (max-width: 1150px) {
  .footer_bottom_a {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #353434;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
  }
  .footer_bottom_a a {
    color: #fff;
  }
  .footer_bottom_a a:hover {
    color: #fff;
  }
  #check1:checked ~ .footer_bottom_a {
    right: 0;
  }
}
@media (max-width: 1000px) {
  .footer_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 620px) {
  .footer_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 400px) {
  .footer_bottom_brend {
    gap: 5px;
  }
  .footer_bottom_brend i {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  .footer_bottom_a {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .footer_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-left: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
